.flight {
	display: flex;
	flex-direction: row;
	gap: 2vw;
	margin: 20px 20px 0px 20px;
}

.flightCard:hover {
	transform: scale(
		1.05
	); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.flightCard {
	transition: transform 0.2s;
	background-color: #fffefe;
	padding: 20px;
	border-radius: 15px;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
	cursor: pointer;
}

.info {
	font-size: 12px;
	color: gray;
}
