.message {
	font-size: 120px;
	padding: 20px;
	color: #ddc6ac;
	text-shadow: 2px 2px black;
	padding-bottom: 20vh;
}

.container {
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;
}

.input {
	width: 70%;
	color: #000;
	font-size: 25px;
	background-color: #fff;
	border-radius: 24px;
	min-height: 30px;
	height: auto;
	resize: none;
	overflow: hidden;
	padding: 10px;
	margin: 10px;
}
